@{
    ViewData["Title"] = "Movie Form Submitted";
}

@model Mission06_brd48.Models.FormResponse

<h2>Movie submitted. Thank you!</h2>
<h3>You have great taste.</h3>
<h4>@Model.MovieTitle is a good movie.</h4>