@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton FIlm Collection</h1>

<img src="~/img/big_joel.jpg" height="500"/>
<br />
<div>
    <a asp-controller="Home" asp-action="Podcast">My Podcasts</a> <br />

    <a asp-controller="Home" asp-action="MovieForm">Movie Form</a>
</div>